[flake8]
extend-ignore = E203
exclude =
    .venv,
    .mypy_cache,
    .vscode,
    .git,
    # There's no value in checking cache directories
    __pycache__,
    ./compiler/fullgraphmlparser,
    library
max-line-length = 100
max-complexity = 10