name: pytest

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        python -m venv .venv
        poetry install
    - name: Install arduino-cli
      run: |
        curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | sh
        export PATH=$PATH:/home/runner/work/lapki-compiler/lapki-compiler/bin
        arduino-cli core install arduino:avr
    - name: Running pytest, install arduin-cli library
      run: |
        export PATH=$PATH:/home/runner/work/lapki-compiler/lapki-compiler/bin
        source ./.venv/bin/activate
        pytest